/* ========fundo========== */
body {
    font-family: 'Gwendolyn', cursive;
    background: url(imagens/fundo.jpg) center/cover no-repeat;

    margin: 0;
    padding: 0;
}

#container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    overflow: hidden;

    width: 960px;
    height: 600px;

    background: rgb(254, 245, 236);
    border: solid white;

    font-family: 'Hind';
}
/* ========conteudo======= */

#logo-img {
    border-radius: 50%;

    position: absolute;
    top: 40px;
    left: 210px;
}

#logo-txt {
    width: 240px;
    list-style-type: none;

    position: absolute;
    top: 90px;
    left: 350px;
}

hr {
    margin: 0;
    margin-bottom: 5px;
}



#fundo {
    position: absolute;
    top: 30px;
    right: 200px;

    border: solid white;
}

#title {
    position: absolute;
    top: 220px;
    left: 230px;
}

#texto {
    width: 500px;

    position: absolute;
    line-height: 23px;
    font-size: 20px;
    top: 250px;
    left: 230px;
}

/* ========links========== */
a {
    text-decoration: none;
}

a:visited{
    color: white;
}
.bnt {
    background: royalblue;
    border: solid white 2px;
    color: white;
    padding: 10px 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.bnt:hover {
    background: rgb(48, 81, 181);
}

.bnt-position1 {
    position: absolute;
    bottom: 130px;
    left: 210px;
}

.bnt-position2 {
    position: absolute;
    bottom:85px;
    left: 210px;
}

.bnt-position3 {
    position: absolute;
    bottom: 36px;
    left: 210px;
}